@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  cursor: auto;
}

@media print {
  .resume-template {
    transform: scale(1.4);
    transform-origin: top left;
    width: calc(100% / 1.4);
  }

  body {
    margin: 0;
    padding: 0;
    -webkit-print-color-adjust: exact; /* Preserve colors for printing */
    print-color-adjust: exact;
  }

  .resume-template {
    margin: 0; /* Ensure no extra margin around the content */
    padding: 10mm 0; /* Add padding to the top and bottom */
    box-sizing: border-box; /* Ensure padding is included in layout */
  }

  .job-description {
    page-break-inside: avoid; /* Prevent a single job description from breaking */
    margin-bottom: 10mm; /* Add space between jobs */
  }

  .section-title {
    page-break-after: avoid; /* Ensure titles don't appear alone at the bottom of a page */
  }
}

.no-spinner {
  -moz-appearance: textfield;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Shine effect styling */
.shine-effect {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 60%;
  height: 200%;
  background: rgba(255, 255, 255, 0.5);
  transform: skewX(-45deg);
  transition: none;
  z-index: 0;
  opacity: 0.3;
  animation: shine 5s infinite;
}

@keyframes shine {
  0% {
    left: -120%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

/* Ensure text and icon are above the shine effect */
.Link {
  position: relative;
  z-index: 1;
}
