@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  cursor: auto;
}

@media print {
  .resume-template {
    transform: scale(1.4);
    transform-origin: top left; /* Keep scaling origin at top-left */
    padding-bottom: 2mm;
    width: calc(100% / 1.4); /* Adjust width to fit the scaled size */
  }

  body {
    margin: 0;
    padding: 0;
    -webkit-print-color-adjust: exact; /* Preserve colors for printing */
    print-color-adjust: exact;
  }
}

.no-spinner {
  -moz-appearance: textfield;
}

.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Shine effect styling */
.shine-effect {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 60%;
  height: 200%;
  background: rgba(255, 255, 255, 0.5);
  transform: skewX(-45deg);
  transition: none;
  z-index: 0;
  opacity: 0.3;
  animation: shine 5s infinite;
}

@keyframes shine {
  0% {
    left: -120%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}

/* Ensure text and icon are above the shine effect */
.Link {
  position: relative;
  z-index: 1;
}
